<?xml version="1.0"?>
<robot name="LiDAR" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="M_PI" value="3.1415926535897931" />
  <xacro:macro name="LiDAR" params="*origin parent prefix namespace">

    <xacro:property name="hz" value="10"/>
    <xacro:property name="samples" value="1000"/>
    <xacro:property name="min_range" value="0.2"/>
    <xacro:property name="max_range" value="100.0"/>
    <xacro:property name="noise" value="0.01"/>
    <xacro:property name="min_angle" value="-1.5707963"/>
    <xacro:property name="max_angle" value="1.5707963"/>

    <joint name="${prefix}_base_mount_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}"/>
    </joint>

    <link name="${prefix}">
      <inertial>
        <mass value="0.925"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="${(0.83 * (3.0*0.0516*0.0516 + 0.0717*0.0717)) / 12.0}" ixy="0" ixz="0"
          iyy="${(0.83 * (3.0*0.0516*0.0516 + 0.0717*0.0717)) / 12.0}" iyz="0"
          izz="${0.5 * 0.83 * (0.0516*0.0516)}"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.0516" length="0.0717"/>
        </geometry>
        <material name="black"/>
      </visual>
    </link>

    <gazebo reference="${prefix}">
      <sensor type="gpu_lidar" name="${prefix}lidar">
        <topic>/scan</topic>
        <update_rate>10</update_rate>
        <gz_frame_id>${prefix}</gz_frame_id>
        <ray>
          <scan>
            <horizontal>
              <samples>360</samples>
              <min_angle>-3.14</min_angle>
              <max_angle>3.14</max_angle>
            </horizontal>
            <vertical>
              <samples>1</samples>
              <resolution>0.01</resolution>
              <min_angle>0</min_angle>
              <max_angle>0</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.05</min>
            <max>12.0</max>
            <resolution>0.01</resolution>
          </range>
        </ray>
        <always_on>1</always_on>
        <visualize>true</visualize>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
